
# Dependencies
/node_modules
/backend/node_modules

# Environment variables
/backend/.env

# Logs
/logs
/backend/logs
app.log
exceptions.log

# Test results
/test-results
/playwright-report
**/.last-run.json

# Uploads
/backend/uploads

# Other
/subir
